*{
    margin: 0;
    padding: 0;
}

#navbar{
    width: 95%;   
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    top: 30px;
    left: 10;
    transform: translateX(2.5%);
    color: white;
}

#menuitem{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 60%;
    
}
#menuitem a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
}
#menuitem a:hover{
    color:red
}

#sociallinks{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 7%;
    
}
#sociallinks i:hover{
    color: red;
    cursor: pointer;
}
#sidemenuicon:hover{
    color: red;
    cursor: pointer;
}
#banner{
    width: 100%;
    height: 550px;
    background-image:url("bg-title-page-03.jpg");
    background-position: center;
    color: white;
    font-size: 35px;
    text-transform: uppercase;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
#italia{
    text-align: center;
    padding: 180px;
    display:block ;
    flex-wrap:wrap;
    justify-content: space-around;
    align-items: center;
}
#italia h2{
    color: red;
    font-style:italic ;
    text-transform: uppercase;
}
#italia h1{
    letter-spacing: 5px;
     font-size: 38px;
     text-transform: uppercase;
}
#italiatext{
    width: 90%;
}
#italiaback{
    background-color:whitesmoke;
}

.section-video {
    width: 1518px;
    height: 700px;
    background-attachment: fixed;
    background-position: center 0;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Montserrat, sans-serif;
    font-weight: 400;

}
.content-video {
    background-color: rgba(0,0,0,0.5);
}
.t-center {
    text-align: center;
}

.p-b-250 {
    padding-bottom: 250px;
}
.p-t-225 {
    padding-top: 225px;
}
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.tit2 {
    font-family: Courgette;
    font-size: 30px;
    line-height: 1.2;
    color: #d61c22;
}
.p-r-15 {
    padding-right: 15px;
}
.p-l-15 {
    padding-left: 15px;
}
.t-center {
    text-align: center;
}
.p-t-3 {
    padding-top: 3px;
}
.sizefull {
    width: 100%;
    height: 100%;
}.size16 {
    width: 70px;
    height: 70px;
}.m-l-r-auto {
    margin-left: auto;
    margin-right: auto;
}.m-b-33 {
    margin-bottom: 33px;
}.m-t-43 {
    margin-top: 43px;
}.color1 {
    color: #222222;
}
.flex-c-m {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    -ms-align-items: center;
    align-items: center;
    
}.bo-cir {
    border-radius: 50%;
}.trans-0-4 {
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}.m-l-2 {
    margin-left: 2px;
}.fs-18 {
    font-size: 18px;
}.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}.fa-play:before {
    content: "\f04b";
}.flex-c-m i{
    color: rgb(0, 0, 0);
}.flex-c-m i:hover{
    color: rgb(255, 255, 255);
    


}.btn-play  .flex-c-m:hover{

    background-color: rgb(255, 0, 0);
    opacity: 0.3;
    cursor: pointer;
    width: 80px;
    height: 80px;
}.bgwhite {
    background-color: white;
}
.sizefull {
    width: 100%;
    height: 100%;
}.tit4 {
    font-family: Poppins;
    font-weight: 700;
    font-size: 50px;
    line-height: 1.2;
    color: white;
    text-transform: uppercase;
    letter-spacing: 10px;
    word-spacing: 6px;
}.p-r-15 {
    padding-right: 15px;
}.p-l-15 {
    padding-left: 15px;
}.p-t-3 {
    padding-top: 3px;
}

#recipies{
    text-align: center;
    padding: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(255, 251, 241);
    width: 1518px;
}
#recipiestext{
    width: 45%;
    font-size: 20px;

}
#recipies h2{
    color: red;
    font-style:italic ;
    text-transform: uppercase;
   
}
#recipies h1{
    font-size: 38px;
    letter-spacing: 5px;
     text-transform: uppercase;
     margin-bottom: 20px;
}
#recipiesimg{
    width: 390px;
    height: 390px;
    border-radius: 25px;
    background-image: url("our-story-01.jpg");
    background-size: 100%;
    background-position: center;
    transition: all 15;
}
#recipiesimg:hover{
    background-size: 110%;
    transition: all 5s;
    cursor: pointer;
    
}
#romantic{
    background-color: rgb(255, 251, 241);
    text-align: center;
    padding: 150px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    
    
}
#romantictext{
    width: 40%;
    font-size: 20px;
}
#romantic h2{
    color: red;
    font-style:italic ;
    text-transform: uppercase;
    font-size: 35px;
   
}
#romantic h1{
    font-size: 35px;
    letter-spacing: 5px;
    text-transform: uppercase;
    margin-bottom: 20px;
     
}
#romanticimg{
    width: 390px;
    height: 390px;
    border-radius: 25px;
    background-image: url("blog-11.jpg");
    background-size: 100%;
    background-position: center;
    transition: all 1s;
}#romanticimg:hover{
    background-size: 110%;
    transition: all 5s;
    cursor: pointer;
    
}
#coverphoto{
    background-image: url(bg-cover-video-02.jpg);
    width: 1518px;
    height: 618px;
    filter: brightness(50%);
    
    background-size: 100%;
    background-position: center;
}

   #signin{
       padding: 100px;
       display: flex;
       flex-wrap: wrap;
       justify-content: center;
       align-items: center; 
       background-color: whitesmoke
   }
   #signin h2{
       text-transform: uppercase;
       margin-right: 20px;
   }
   #inputtext input{
       border: none;
       font-size: 20px;
       margin-left: 30px;
       color: rgb(0, 0, 0);
}
#inputtext ::placeholder{
    color: silver;
}
#inputtext input:focus{
    outline: none;
}
#inputtext i{
    margin: 10px;
    color: silver;
}
#inputtext{
    border: silver thin solid;
    border-radius: 10px;
    display: flex;
    font-size: 20px;
    padding: 5px;
    background: white;
}#signin button{
    height: 40px;
    width: 150px;
    margin-left: 20px;
    color: white;
    background-color: black;
    transition: all 0.s ease-in;
    border: none;
    border-radius: 7px;
}
#signin button:hover{
    background-color: red;
    transition: all 0.s ease-in;
    cursor: pointer;
}
#foot{
    background-color: #222222;
    display: block;
    
    box-sizing: border-box;
}
#cont{
    
    max-width: 1200px;
    padding-bottom: 70px;
    padding-top: 80px;
    margin-right: 10px;
    margin-left: 100px;
    padding-right: 15px;
    padding-left: 15px;
    width: 100%;
}.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.txt13 {
    font-family: Poppins;
    font-weight: 500;
    font-size: 18px;
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
}.m-b-33 {
    margin-bottom: 33px;
}.txt14 {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 13px;
    color: #999999;
    line-height: 1.7;
}.m-b-14 {
    margin-bottom: 14px;
}ul, li {
    margin: 0px;
    list-style-type: none;
    
}.size19 {
    width: 20px;
}.dis-inline-block {
    display: inline-block;
}.fs-16 {
    font-size: 16px;
}.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;}
    .txt13 {
        font-family: Poppins;
        font-weight: 500;
        font-size: 18px;
        color: white;
        text-transform: uppercase;
        letter-spacing: 2px;
    }.m-b-32 {
        margin-bottom: 32px;
    }.m-b-25 {
        margin-bottom: 25px;
    }.color2 {
        color: #cccccc;
    }.m-r-5 {
        margin-right: 5px;
    }.fs-13 {
        font-size: 18px;
    }.txt13 {
        font-family: Poppins;
        font-weight: 500;
        font-size: 18px;
        color: white;
        text-transform: uppercase;
        letter-spacing: 2px;
    }.fa {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }.txt15 {
        font-family: Montserrat;
        font-weight: 400;
        font-size: 13px;
        color: #ec1d25;
        line-height: 1.7;
    }a {
        font-family: Montserrat;
        font-weight: 400;
        font-size: 15px;
        line-height: 1.7;
        color: #666666;
        margin: 0px;
        transition: all 0.4s;
        -webkit-transition: all 0.4s;
        -o-transition: all 0.4s;
        -moz-transition: all 0.4s;
    }a {
        color: #007bff;
        text-decoration: none;
        background-color: transparent;
        -webkit-text-decoration-skip: objects;
    }.txt14 {
        font-family: Montserrat;
        font-weight: 400;
        font-size: 13px;
        color: #999999;
        line-height: 1.7;
    }.m-b-18 {
        margin-bottom: 18px;
    }p {
        font-family: Montserrat;
        font-weight: 400;
        font-size: 15px;
        line-height: 1.7;
        color: #666666;
        margin: 0px;}
        .txt16 {
            font-family: Montserrat;
            font-weight: 400;
            font-size: 12px;
            color: #555555;
        }
        .col2{
            margin-left: 40px;
        }



        .p-t-50 {
            padding-top: 50px;
        }.m-b-38 {
            margin-bottom: 38px;
        }.flex-w {
            
            display: flex;
           
            flex-wrap: wrap;
        }.item-gallery-footer {
            display: block;
            position: relative;
            width: calc((100% - 50px) / 4 );
            margin-right: 10px;
            margin-bottom: 10px;
        }img {
            vertical-align: middle;
            border-style: none;
        }.wrap-pic-w img {
            width: 100%;}
        .txt13 {
            font-family: Poppins;
            font-weight: 500;
            font-size: 18px;
            color: white;
            text-transform: uppercase;
            letter-spacing: 2px;
        }.m-b-38 {
            margin-bottom: 38px;
        }
        h1, h2, h3, h4, h5, h6 {
            margin: 0px;
        }
        .h4, h4 {
            font-size: 1.5rem;
        }.col-sm-6{
            width: 450px;
            height: 450px;
            margin-left: 100px;
            margin-top: -50px;

        }.wrap-gallery-footer img:hover{
            
            opacity: 0.09
        }



        .bg2 {
            background-color: #111111;
        }.flex-sb-m {
            display: -webkit-box;
            display: -webkit-flex;
            display: -moz-box;
            display: -ms-flexbox;
            display: flex;
            justify-content: space-between;
            -ms-align-items: center;
            align-items: center;
        }.flex-w {
            display: -webkit-box;
            display: -webkit-flex;
            display: -moz-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-flex-wrap: wrap;
            -moz-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
            -o-flex-wrap: wrap;
            flex-wrap: wrap;
        }.p-b-22 {
            padding-bottom: 22px;
        }.p-t-22 {
            padding-top: 22px;
        }
        .p-b-5 {
            padding-bottom: 5px;
        }.p-t-5 {
            padding-top: 5px;
        }.c-white {
            color: white;
        }.fs-15 {
            font-size: 15px;
        }.fa {
            display: inline-block;
            font: normal normal normal 14px/1 FontAwesome;
            font-size: inherit;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            color: white;
        }.m-l-18 {
            margin-left: 18px;
        }.m-l-18 {
            margin-left: 18px;
        }.txt17 {
            font-family: Noto+Sans;
            font-size: 14px;
            line-height: 1.7;
            color: #999999;
        }.p-r-20 {
            padding-right: 20px;
        }
        .p-b-5 {
            padding-bottom: 5px;
            color: white;
        }
        .p-t-5 {
            padding-top: 5px;
            color: white;
        }.flex-sb-m {
            display: -webkit-box;
            display: -webkit-flex;
            display: -moz-box;
            display: -ms-flexbox;
            display: flex;
            justify-content: space-between;
            -ms-align-items: center;
            align-items: center;
            color: white;
        }
        .flex-w {
            display: -webkit-box;
            display: -webkit-flex;
            display: -moz-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-flex-wrap: wrap;
            -moz-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
            -o-flex-wrap: wrap;
            flex-wrap: wrap;
            color: white;
        }
        .p-b-22 {
            padding-bottom: 22px;
        }
        .p-t-22 {
            padding-top: 22px;
        }   .p-t-5 i{
            color: white;
        }.fs-15 {
            font-size: 15px;
            color: white;
        }a {
            font-family: Montserrat;
            font-weight: 400;
            font-size: 15px;
            line-height: 1.7;
            color: #ffffff;
            margin: 0px;
            transition: all 0.4s;
            -webkit-transition: all 0.4s;
            -o-transition: all 0.4s;
            -moz-transition: all 0.4s;
        }
        #lolo{
            position: fixed;
            height: 50px;
            width: 50px;
        }
        #cards{
            display: flex;
            justify-content: center;
            width: 100%;
            flex-wrap: wrap;
            padding: 35px;
            justify-content: space-around;
            font-size: 15px;
           

        }
        #onecard{
            width: 25%;
            border-radius: 11px;
            text-align: center;
            padding:15px;
             border: 3px solid silver  ;
        }
        #chefimage{
            top: 0;
            position: relative;
            transform :translateY(-60%)
        }
        #chefimage img{
            border: red solid 5px;
            border-radius: 50%;
            transition: all 5s;
        }#chefimage img:hover{
            cursor: pointer;
            
            zoom: 110%;
            
            
        }#onecard h2:hover{
            cursor: pointer;
            color: red;
            transition: 0.5s;
        }
        #onecard h2{
            margin-top: -40px;
            margin-bottom: 10px;
            
        }
        #cad{
            padding: 100px;
            justify-content: space-around;
            font-size: 30px;
            text-align: center;
            margin-top: 200x;
        }
        #cad h3{
            color: #d61c22;
            font-size: 30px;
            
            padding: 10px;
            font-style: italic;
        }
        #cad h1{
            font-family: Poppins;
    font-weight: 700;
    font-size: 50px;
    line-height: 1.2;
    color: #222222;
    text-transform: uppercase;
    letter-spacing: 10px;
    word-spacing: 8px;
    padding: 40px;
        }
        #onecard p{
          font-size: 19px;
        }